body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1806px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u58_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:61px;
}
#u58 {
  border-width:0px;
  position:absolute;
  left:130px;
  top:198px;
  width:100px;
  height:60px;
}
#u58_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u59_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:61px;
}
#u59 {
  border-width:0px;
  position:absolute;
  left:130px;
  top:302px;
  width:100px;
  height:60px;
}
#u59_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u60_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:61px;
}
#u60 {
  border-width:0px;
  position:absolute;
  left:130px;
  top:826px;
  width:100px;
  height:60px;
}
#u60_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u61_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:61px;
}
#u61 {
  border-width:0px;
  position:absolute;
  left:130px;
  top:1255px;
  width:100px;
  height:60px;
}
#u61_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u62 {
  border-width:0px;
  position:absolute;
  left:180px;
  top:258px;
  width:0px;
  height:0px;
}
#u62_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:48px;
}
#u62_seg1 {
  border-width:0px;
  position:absolute;
  left:-9px;
  top:-6px;
  width:18px;
  height:18px;
}
#u62_seg2 {
  border-width:0px;
  position:absolute;
  left:-9px;
  top:31px;
  width:18px;
  height:19px;
}
#u62_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:14px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u63_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:841px;
  height:42px;
}
#u63 {
  border-width:0px;
  position:absolute;
  left:30px;
  top:30px;
  width:840px;
  height:41px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
}
#u63_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:840px;
  word-wrap:break-word;
}
#u64 {
  border-width:0px;
  position:absolute;
  left:180px;
  top:362px;
  width:0px;
  height:0px;
}
#u64_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:468px;
}
#u64_seg1 {
  border-width:0px;
  position:absolute;
  left:-9px;
  top:-6px;
  width:18px;
  height:18px;
}
#u64_seg2 {
  border-width:0px;
  position:absolute;
  left:-9px;
  top:451px;
  width:18px;
  height:19px;
}
#u64_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:224px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u65 {
  border-width:0px;
  position:absolute;
  left:180px;
  top:886px;
  width:0px;
  height:0px;
}
#u65_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:373px;
}
#u65_seg1 {
  border-width:0px;
  position:absolute;
  left:-9px;
  top:-6px;
  width:18px;
  height:18px;
}
#u65_seg2 {
  border-width:0px;
  position:absolute;
  left:-9px;
  top:356px;
  width:18px;
  height:19px;
}
#u65_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:176px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u66_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:29px;
}
#u66 {
  border-width:0px;
  position:absolute;
  left:156px;
  top:133px;
  width:49px;
  height:28px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u66_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u67_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:61px;
}
#u67 {
  border-width:0px;
  position:absolute;
  left:223px;
  top:372px;
  width:100px;
  height:60px;
}
#u67_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u68_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:61px;
}
#u68 {
  border-width:0px;
  position:absolute;
  left:223px;
  top:465px;
  width:100px;
  height:60px;
}
#u68_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u69_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:61px;
}
#u69 {
  border-width:0px;
  position:absolute;
  left:223px;
  top:557px;
  width:100px;
  height:60px;
}
#u69_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u70_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:61px;
}
#u70 {
  border-width:0px;
  position:absolute;
  left:223px;
  top:650px;
  width:100px;
  height:60px;
}
#u70_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u71_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:31px;
}
#u71 {
  border-width:0px;
  position:absolute;
  left:356px;
  top:372px;
  width:100px;
  height:30px;
}
#u71_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  word-wrap:break-word;
}
#u72_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:31px;
}
#u72 {
  border-width:0px;
  position:absolute;
  left:356px;
  top:402px;
  width:100px;
  height:30px;
}
#u72_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  word-wrap:break-word;
}
#u73_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:31px;
}
#u73 {
  border-width:0px;
  position:absolute;
  left:356px;
  top:557px;
  width:100px;
  height:30px;
}
#u73_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  word-wrap:break-word;
}
#u74_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:31px;
}
#u74 {
  border-width:0px;
  position:absolute;
  left:356px;
  top:587px;
  width:100px;
  height:30px;
}
#u74_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  word-wrap:break-word;
}
#u75_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:31px;
}
#u75 {
  border-width:0px;
  position:absolute;
  left:356px;
  top:650px;
  width:100px;
  height:30px;
}
#u75_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  word-wrap:break-word;
}
#u76_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:31px;
}
#u76 {
  border-width:0px;
  position:absolute;
  left:356px;
  top:680px;
  width:100px;
  height:30px;
}
#u76_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  word-wrap:break-word;
}
#u77 {
  border-width:0px;
  position:absolute;
  left:180px;
  top:1315px;
  width:0px;
  height:0px;
}
#u77_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:373px;
}
#u77_seg1 {
  border-width:0px;
  position:absolute;
  left:-9px;
  top:-6px;
  width:18px;
  height:18px;
}
#u77_seg2 {
  border-width:0px;
  position:absolute;
  left:-9px;
  top:356px;
  width:18px;
  height:19px;
}
#u77_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:176px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u78_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:61px;
}
#u78 {
  border-width:0px;
  position:absolute;
  left:206px;
  top:1358px;
  width:100px;
  height:60px;
}
#u78_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u79_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:61px;
}
#u79 {
  border-width:0px;
  position:absolute;
  left:206px;
  top:1459px;
  width:100px;
  height:60px;
}
#u79_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u80_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:61px;
}
#u80 {
  border-width:0px;
  position:absolute;
  left:206px;
  top:1561px;
  width:100px;
  height:60px;
}
#u80_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u81_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:61px;
}
#u81 {
  border-width:0px;
  position:absolute;
  left:206px;
  top:896px;
  width:100px;
  height:60px;
}
#u81_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u82_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:61px;
}
#u82 {
  border-width:0px;
  position:absolute;
  left:206px;
  top:992px;
  width:100px;
  height:60px;
}
#u82_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u83_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:61px;
}
#u83 {
  border-width:0px;
  position:absolute;
  left:206px;
  top:1088px;
  width:100px;
  height:60px;
}
#u83_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u84_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:61px;
}
#u84 {
  border-width:0px;
  position:absolute;
  left:223px;
  top:735px;
  width:100px;
  height:60px;
}
#u84_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u85_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:31px;
}
#u85 {
  border-width:0px;
  position:absolute;
  left:356px;
  top:735px;
  width:100px;
  height:30px;
}
#u85_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  word-wrap:break-word;
}
#u86_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:31px;
}
#u86 {
  border-width:0px;
  position:absolute;
  left:356px;
  top:765px;
  width:100px;
  height:30px;
}
#u86_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  word-wrap:break-word;
}
#u87_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:148px;
  height:90px;
}
#u87 {
  border-width:0px;
  position:absolute;
  left:637px;
  top:133px;
  width:147px;
  height:89px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:36px;
}
#u87_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:24px;
  width:143px;
  word-wrap:break-word;
}
#u88_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:61px;
}
#u88 {
  border-width:0px;
  position:absolute;
  left:206px;
  top:1176px;
  width:100px;
  height:60px;
}
#u88_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u89_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:61px;
}
#u89 {
  border-width:0px;
  position:absolute;
  left:637px;
  top:241px;
  width:100px;
  height:60px;
}
#u89_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u90_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:61px;
}
#u90 {
  border-width:0px;
  position:absolute;
  left:637px;
  top:345px;
  width:100px;
  height:60px;
}
#u90_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u91 {
  border-width:0px;
  position:absolute;
  left:687px;
  top:301px;
  width:0px;
  height:0px;
}
#u91_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:48px;
}
#u91_seg1 {
  border-width:0px;
  position:absolute;
  left:-9px;
  top:-6px;
  width:18px;
  height:18px;
}
#u91_seg2 {
  border-width:0px;
  position:absolute;
  left:-9px;
  top:31px;
  width:18px;
  height:19px;
}
#u91_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:14px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u92 {
  border-width:0px;
  position:absolute;
  left:687px;
  top:405px;
  width:0px;
  height:0px;
}
#u92_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:468px;
}
#u92_seg1 {
  border-width:0px;
  position:absolute;
  left:-9px;
  top:-6px;
  width:18px;
  height:18px;
}
#u92_seg2 {
  border-width:0px;
  position:absolute;
  left:-9px;
  top:451px;
  width:18px;
  height:19px;
}
#u92_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:224px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u93_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:61px;
}
#u93 {
  border-width:0px;
  position:absolute;
  left:730px;
  top:415px;
  width:100px;
  height:60px;
}
#u93_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u94_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:61px;
}
#u94 {
  border-width:0px;
  position:absolute;
  left:730px;
  top:508px;
  width:100px;
  height:60px;
}
#u94_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u95_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:61px;
}
#u95 {
  border-width:0px;
  position:absolute;
  left:730px;
  top:600px;
  width:100px;
  height:60px;
}
#u95_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u96_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:61px;
}
#u96 {
  border-width:0px;
  position:absolute;
  left:730px;
  top:693px;
  width:100px;
  height:60px;
}
#u96_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u97_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:31px;
}
#u97 {
  border-width:0px;
  position:absolute;
  left:863px;
  top:415px;
  width:100px;
  height:30px;
}
#u97_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  word-wrap:break-word;
}
#u98_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:31px;
}
#u98 {
  border-width:0px;
  position:absolute;
  left:863px;
  top:600px;
  width:100px;
  height:30px;
}
#u98_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  word-wrap:break-word;
}
#u99_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:31px;
}
#u99 {
  border-width:0px;
  position:absolute;
  left:863px;
  top:693px;
  width:100px;
  height:30px;
}
#u99_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  word-wrap:break-word;
}
#u100_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:148px;
  height:90px;
}
#u100 {
  border-width:0px;
  position:absolute;
  left:1080px;
  top:133px;
  width:147px;
  height:89px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:36px;
}
#u100_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:24px;
  width:143px;
  word-wrap:break-word;
}
#u101_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:61px;
}
#u101 {
  border-width:0px;
  position:absolute;
  left:1080px;
  top:241px;
  width:100px;
  height:60px;
}
#u101_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u102_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:61px;
}
#u102 {
  border-width:0px;
  position:absolute;
  left:1080px;
  top:345px;
  width:100px;
  height:60px;
}
#u102_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u103 {
  border-width:0px;
  position:absolute;
  left:1130px;
  top:301px;
  width:0px;
  height:0px;
}
#u103_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:48px;
}
#u103_seg1 {
  border-width:0px;
  position:absolute;
  left:-9px;
  top:-6px;
  width:18px;
  height:18px;
}
#u103_seg2 {
  border-width:0px;
  position:absolute;
  left:-9px;
  top:31px;
  width:18px;
  height:19px;
}
#u103_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:14px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u104 {
  border-width:0px;
  position:absolute;
  left:1130px;
  top:405px;
  width:0px;
  height:0px;
}
#u104_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:468px;
}
#u104_seg1 {
  border-width:0px;
  position:absolute;
  left:-9px;
  top:-6px;
  width:18px;
  height:18px;
}
#u104_seg2 {
  border-width:0px;
  position:absolute;
  left:-9px;
  top:451px;
  width:18px;
  height:19px;
}
#u104_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:224px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u105_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:61px;
}
#u105 {
  border-width:0px;
  position:absolute;
  left:1173px;
  top:415px;
  width:100px;
  height:60px;
}
#u105_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u106_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:61px;
}
#u106 {
  border-width:0px;
  position:absolute;
  left:1173px;
  top:508px;
  width:100px;
  height:60px;
}
#u106_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u107_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:61px;
}
#u107 {
  border-width:0px;
  position:absolute;
  left:1173px;
  top:600px;
  width:100px;
  height:60px;
}
#u107_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u108_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:61px;
}
#u108 {
  border-width:0px;
  position:absolute;
  left:1173px;
  top:693px;
  width:100px;
  height:60px;
}
#u108_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u109_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:31px;
}
#u109 {
  border-width:0px;
  position:absolute;
  left:1306px;
  top:415px;
  width:100px;
  height:30px;
}
#u109_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  word-wrap:break-word;
}
#u110_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:31px;
}
#u110 {
  border-width:0px;
  position:absolute;
  left:1306px;
  top:445px;
  width:100px;
  height:30px;
}
#u110_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  word-wrap:break-word;
}
#u111_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:31px;
}
#u111 {
  border-width:0px;
  position:absolute;
  left:1306px;
  top:600px;
  width:100px;
  height:30px;
}
#u111_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  word-wrap:break-word;
}
#u112_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:31px;
}
#u112 {
  border-width:0px;
  position:absolute;
  left:1306px;
  top:630px;
  width:100px;
  height:30px;
}
#u112_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  word-wrap:break-word;
}
#u113_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:31px;
}
#u113 {
  border-width:0px;
  position:absolute;
  left:1306px;
  top:693px;
  width:100px;
  height:30px;
}
#u113_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  word-wrap:break-word;
}
#u114_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:31px;
}
#u114 {
  border-width:0px;
  position:absolute;
  left:1306px;
  top:723px;
  width:100px;
  height:30px;
}
#u114_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  word-wrap:break-word;
}
#u115_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:61px;
}
#u115 {
  border-width:0px;
  position:absolute;
  left:1173px;
  top:778px;
  width:100px;
  height:60px;
}
#u115_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u116_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:31px;
}
#u116 {
  border-width:0px;
  position:absolute;
  left:1306px;
  top:778px;
  width:100px;
  height:30px;
}
#u116_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  word-wrap:break-word;
}
#u117_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:31px;
}
#u117 {
  border-width:0px;
  position:absolute;
  left:1306px;
  top:808px;
  width:100px;
  height:30px;
}
#u117_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  word-wrap:break-word;
}
#u118_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:148px;
  height:90px;
}
#u118 {
  border-width:0px;
  position:absolute;
  left:1480px;
  top:133px;
  width:147px;
  height:89px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:36px;
}
#u118_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:24px;
  width:143px;
  word-wrap:break-word;
}
#u119_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:61px;
}
#u119 {
  border-width:0px;
  position:absolute;
  left:1480px;
  top:241px;
  width:100px;
  height:60px;
}
#u119_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u120_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:61px;
}
#u120 {
  border-width:0px;
  position:absolute;
  left:1480px;
  top:345px;
  width:100px;
  height:60px;
}
#u120_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u121_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:61px;
}
#u121 {
  border-width:0px;
  position:absolute;
  left:1480px;
  top:869px;
  width:100px;
  height:60px;
}
#u121_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u122_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:61px;
}
#u122 {
  border-width:0px;
  position:absolute;
  left:1480px;
  top:1298px;
  width:100px;
  height:60px;
}
#u122_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u123 {
  border-width:0px;
  position:absolute;
  left:1530px;
  top:301px;
  width:0px;
  height:0px;
}
#u123_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:48px;
}
#u123_seg1 {
  border-width:0px;
  position:absolute;
  left:-9px;
  top:-6px;
  width:18px;
  height:18px;
}
#u123_seg2 {
  border-width:0px;
  position:absolute;
  left:-9px;
  top:31px;
  width:18px;
  height:19px;
}
#u123_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:14px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u124 {
  border-width:0px;
  position:absolute;
  left:1530px;
  top:405px;
  width:0px;
  height:0px;
}
#u124_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:468px;
}
#u124_seg1 {
  border-width:0px;
  position:absolute;
  left:-9px;
  top:-6px;
  width:18px;
  height:18px;
}
#u124_seg2 {
  border-width:0px;
  position:absolute;
  left:-9px;
  top:451px;
  width:18px;
  height:19px;
}
#u124_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:224px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u125 {
  border-width:0px;
  position:absolute;
  left:1530px;
  top:929px;
  width:0px;
  height:0px;
}
#u125_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:373px;
}
#u125_seg1 {
  border-width:0px;
  position:absolute;
  left:-9px;
  top:-6px;
  width:18px;
  height:18px;
}
#u125_seg2 {
  border-width:0px;
  position:absolute;
  left:-9px;
  top:356px;
  width:18px;
  height:19px;
}
#u125_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:176px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u126_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:61px;
}
#u126 {
  border-width:0px;
  position:absolute;
  left:1573px;
  top:415px;
  width:100px;
  height:60px;
}
#u126_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u127_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:61px;
}
#u127 {
  border-width:0px;
  position:absolute;
  left:1573px;
  top:508px;
  width:100px;
  height:60px;
}
#u127_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u128_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:61px;
}
#u128 {
  border-width:0px;
  position:absolute;
  left:1573px;
  top:600px;
  width:100px;
  height:60px;
}
#u128_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u129_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:61px;
}
#u129 {
  border-width:0px;
  position:absolute;
  left:1573px;
  top:693px;
  width:100px;
  height:60px;
}
#u129_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u130_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:31px;
}
#u130 {
  border-width:0px;
  position:absolute;
  left:1706px;
  top:415px;
  width:100px;
  height:30px;
}
#u130_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  word-wrap:break-word;
}
#u131_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:31px;
}
#u131 {
  border-width:0px;
  position:absolute;
  left:1706px;
  top:445px;
  width:100px;
  height:30px;
}
#u131_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  word-wrap:break-word;
}
#u132_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:31px;
}
#u132 {
  border-width:0px;
  position:absolute;
  left:1706px;
  top:600px;
  width:100px;
  height:30px;
}
#u132_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  word-wrap:break-word;
}
#u133_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:31px;
}
#u133 {
  border-width:0px;
  position:absolute;
  left:1706px;
  top:630px;
  width:100px;
  height:30px;
}
#u133_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  word-wrap:break-word;
}
#u134_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:31px;
}
#u134 {
  border-width:0px;
  position:absolute;
  left:1706px;
  top:693px;
  width:100px;
  height:30px;
}
#u134_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  word-wrap:break-word;
}
#u135_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:31px;
}
#u135 {
  border-width:0px;
  position:absolute;
  left:1706px;
  top:723px;
  width:100px;
  height:30px;
}
#u135_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  word-wrap:break-word;
}
#u136 {
  border-width:0px;
  position:absolute;
  left:1530px;
  top:1358px;
  width:0px;
  height:0px;
}
#u136_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:373px;
}
#u136_seg1 {
  border-width:0px;
  position:absolute;
  left:-9px;
  top:-6px;
  width:18px;
  height:18px;
}
#u136_seg2 {
  border-width:0px;
  position:absolute;
  left:-9px;
  top:356px;
  width:18px;
  height:19px;
}
#u136_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:176px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u137_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:61px;
}
#u137 {
  border-width:0px;
  position:absolute;
  left:1556px;
  top:1401px;
  width:100px;
  height:60px;
}
#u137_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u138_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:61px;
}
#u138 {
  border-width:0px;
  position:absolute;
  left:1556px;
  top:1502px;
  width:100px;
  height:60px;
}
#u138_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u139_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:61px;
}
#u139 {
  border-width:0px;
  position:absolute;
  left:1556px;
  top:1604px;
  width:100px;
  height:60px;
}
#u139_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u140_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:61px;
}
#u140 {
  border-width:0px;
  position:absolute;
  left:1556px;
  top:939px;
  width:100px;
  height:60px;
}
#u140_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u141_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:61px;
}
#u141 {
  border-width:0px;
  position:absolute;
  left:1556px;
  top:1035px;
  width:100px;
  height:60px;
}
#u141_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u142_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:61px;
}
#u142 {
  border-width:0px;
  position:absolute;
  left:1556px;
  top:1131px;
  width:100px;
  height:60px;
}
#u142_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u143_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:61px;
}
#u143 {
  border-width:0px;
  position:absolute;
  left:1573px;
  top:778px;
  width:100px;
  height:60px;
}
#u143_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u144_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:31px;
}
#u144 {
  border-width:0px;
  position:absolute;
  left:1706px;
  top:778px;
  width:100px;
  height:30px;
}
#u144_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  word-wrap:break-word;
}
#u145_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:31px;
}
#u145 {
  border-width:0px;
  position:absolute;
  left:1706px;
  top:808px;
  width:100px;
  height:30px;
}
#u145_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  word-wrap:break-word;
}
#u146_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:61px;
}
#u146 {
  border-width:0px;
  position:absolute;
  left:1556px;
  top:1219px;
  width:100px;
  height:60px;
}
#u146_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u147_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:61px;
}
#u147 {
  border-width:0px;
  position:absolute;
  left:1080px;
  top:869px;
  width:100px;
  height:60px;
}
#u147_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u148 {
  border-width:0px;
  position:absolute;
  left:1130px;
  top:929px;
  width:0px;
  height:0px;
}
#u148_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:373px;
}
#u148_seg1 {
  border-width:0px;
  position:absolute;
  left:-9px;
  top:-6px;
  width:18px;
  height:18px;
}
#u148_seg2 {
  border-width:0px;
  position:absolute;
  left:-9px;
  top:356px;
  width:18px;
  height:19px;
}
#u148_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:176px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u149_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:61px;
}
#u149 {
  border-width:0px;
  position:absolute;
  left:1173px;
  top:959px;
  width:100px;
  height:60px;
}
#u149_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u150_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:61px;
}
#u150 {
  border-width:0px;
  position:absolute;
  left:1173px;
  top:1047px;
  width:100px;
  height:60px;
}
#u150_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
